.cellChecked,
.cellUnChecked{
	width: 90px;
	height : 45px;	
	background-color: rgba(129, 207, 55, 0.26);
	transition: background-color 200ms linear;
	outline: 1px solid rgb(185, 185, 185);
	position : relative;
}
.cellChecked {
	background-color: rgba(129, 207, 55, 0.26);
	z-index: 3;
}
.cellUnChecked {
	background-color: rgb(255, 255, 255);
}
.checkboxContainer {
	margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
	width:100%;
}
input[type=checkbox]
{
  transform: scale(1.4);
  padding: 5px;
}

.checkboxtext
{
  font-size: 110%;
  display: inline;
}

[role="checkbox"] {
  cursor: pointer;
}

[role="gridcell"]:focus,
[role="grid"] [tabindex="0"]:focus {
  outline: #005a9c;
  outline-style: dotted;
  outline-width: 3px;
	z-index: 3;
}
